<div class="card">
  <h5 class="card-header">Update user</h5>
  <div class="card-body">
    <form *ngIf="editUserForm" [formGroup]="editUserForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name" id="" aria-describedby="emailHelp" placeholder="Enter Name">
        <input type="text" class="form-control" formControlName="id" hidden>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" disabled id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
